*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 120%;
  background: #F8F8FF;
}

.header{
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #ff8080;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px
}

form{
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}

.input-group{
  margin: 10px 0px 10px 0px;
}

.input-group label{
  display: block;
  text-align: left;
  margin: 3px;
}

.input-group input{
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid grey;
}

.btn{
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #ff8080;
  border: none;
  border-radius: 5px;
}

a{
  text-decoration: none;
  color: blue;
}
